<table class="table">
    <tbody>
    <tr>
        <td><strong>Name:</strong></td>
        <td class="class-name"></td>
    </tr>
    <tr>
        <td><strong>Description:</strong></td>
        <td class="description"></td>
    </tr>
    <tr>
        <td><strong>Class Hit Points</strong></td>
        <td class="class-hp"></td>
    </tr>
    <tr>
        <td><strong>Stamina</strong></td>
        <td class="stamina"></td>
    </tr>
    <tr>
        <td><strong>Base Attack Bonus</strong></td>
        <td class="bab"></td>
    </tr>
    <tr>
        <td><strong>Save Bonuses</strong></td>
        <td>
            <table>
                <tr>
                    <td><strong>Fortitude</strong></td>
                    <td class="fort"></td>
                </tr>
                <tr>
                    <td><strong>Reflex</strong></td>
                    <td class="ref"></td>
                </tr>
                <tr>
                    <td><strong>Willpower</strong></td>
                    <td class="will"></td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td><strong>Armor Proficiencies</strong></td>
        <td class="armor"></td>
    </tr>
    <tr>
        <td><strong>Weapon Proficiencies</strong></td>
        <td class="weapon"></td>
    </tr>
    <tr>
        <td><strong>Class Skills</strong></td>
        <td class="skills"></td>
    </tr>
    </tbody>
</table>