<table class="table">
    <tbody>
    <tr>
        <td><strong>Race:</strong></td>
        <td class="race-name"></td>
    </tr>
    <tr>
        <td><strong>Theme:</strong></td>
        <td class="theme-name"></td>
    </tr>
    <tr>
        <td><strong>Class:</strong></td>
        <td class="class-name"></td>
    </tr>
    <tr>
        <td><strong>Hit Points</strong></td>
        <td class="hp">0</td>
    </tr>
    <tr>
        <td><strong>Stamina</strong></td>
        <td class="stamina">0</td>
    </tr>
    <tr>
        <td><strong>Racial Features: </strong></td>
        <td class="racial-features"></td>
    </tr>
    <tr>
        <td><strong>Theme Features: </strong></td>
        <td class="theme-features"></td>
    </tr>
    <tr>
        <td><strong>Base Attack Bonus</strong></td>
        <td class="bab"></td>
    </tr>
    <tr>
        <td><strong>Save Bonuses</strong></td>
        <td>
            <table>
                <tr>
                    <td><strong>Fortitude</strong></td>
                    <td class="fort"></td>
                </tr>
                <tr>
                    <td><strong>Reflex</strong></td>
                    <td class="ref"></td>
                </tr>
                <tr>
                    <td><strong>Willpower</strong></td>
                    <td class="will"></td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td><strong>Armor Proficiencies</strong></td>
        <td class="armor"></td>
    </tr>
    <tr>
        <td><strong>Weapon Proficiencies</strong></td>
        <td class="weapon"></td>
    </tr>
    </tbody>
</table>