<table class="table">
    <tbody>
    <tr>
        <td><strong>Name:</strong></td>
        <td class="race-name"></td>
    </tr>
    <tr>
        <td><strong>Description:</strong></td>
        <td class="description"></td>
    </tr>
    <tr>
        <td><strong>Size:</strong></td>
        <td class="size"></td>
    </tr>
    <tr>
        <td><strong>Type and Subtype:</strong></td>
        <td class="type"></td>
    </tr>
    <tr>
        <td><strong>Racial Hit Points</strong></td>
        <td class="race-hp"></td>
    </tr>
    <tr>
        <td><strong>Ability Modifiers</strong></td>
        <td>
            <table>
                <tr>
                    <td><strong>Strength</strong></td>
                    <td class="strength-modifier">0</td>
                </tr>
                <tr>
                    <td><strong>Dexterity</strong></td>
                    <td class="dexterity-modifier">0</td>
                </tr>
                <tr>
                    <td><strong>Constitution</strong></td>
                    <td class="constitution-modifier">0</td>
                </tr>
                <tr>
                    <td><strong>Intelligence</strong></td>
                    <td class="intelligence-modifier">0</td>
                </tr>
                <tr>
                    <td><strong>Wisdom</strong></td>
                    <td class="wisdom-modifier">0</td>
                </tr>
                <tr>
                    <td><strong>Charisma</strong></td>
                    <td class="charisma-modifier">0</td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td><strong class="first-racial-feature-name"></strong></td>
        <td class="first-racial-feature-description"></td>
    </tr>
    <tr>
        <td><strong class="second-racial-feature-name"></strong></td>
        <td class="second-racial-feature-description"></td>
    </tr>
    <tr>
        <td><strong class="third-racial-feature-name"></strong></td>
        <td class="third-racial-feature-description"></td>
    </tr>
    <tr>
        <td><strong class="fourth-racial-feature-name"></strong></td>
        <td class="fourth-racial-feature-description"></td>
    </tr>
    <tr>
        <td><strong>Physical Description</strong></td>
        <td class="physical"></td>
    </tr>
    <tr>
        <td><strong>Home World</strong></td>
        <td class="homeworld"></td>
    </tr>
    <tr>
        <td><strong>Society and Alignment</strong></td>
        <td class="society-alignment"></td>
    </tr>
    </tbody>
</table>